body {  
  color: white;   
}
.navbarLink {
  font-family: 'Barlow Condensed', sans-serif;
}
h5 {
  letter-spacing: .25rem;
}

/* navbar */

.navbarLink, .linkPanet  {
letter-spacing: .16rem;
}

#navbarLink0:hover, #navbarLink1:hover, #navbarLink2:hover, #navbarLink3:hover {
  padding-bottom: 2rem;
  border-bottom: 3px solid white;
  margin-top: 1.75rem;
}

.line {
  width: 37vw;
  border: 0.5px solid white;
  opacity: 0.25;
  height: 0.5px;   
}

.navbar {
  width: 57vw;
  margin-left: 5%;
  height: 14vh; 
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px); 
}
span {
  font-weight: 700;  
}
.logo{
  width: 48px;
  height: auto;
  max-width: none;

}
.logo:hover {
  transition: .5s;
  transform: rotate(360deg);
  animation-timing-function:ease-in-out;
}

/* home page */
.main {
  column-gap: 7.43rem;
  
}

.explore {  
  width: 20vw;
  height: 20vw;
  border-radius: 50%;  
  background-color: white; 
  align-items: center;
  justify-items: center  
}
.exploreText {
  font-size: 2rem;
  color: #0B0D17; 
  grid-area: 1 / 1 / 2 / 2; 
}
.backExplore {  
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  cursor: pointer; 
  grid-area: 1 / 1 / 2 / 2; 
}

.backExplore:hover {
  opacity: 0.1;
  transition: opacity 0.7s ease-in-out;
}

.textMain, .sublineMain {
  color: #D0D6F9;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.04rem;  
}

.textMain {
  width: 32vw;
}

.descPlanet {
  width: 30vw;
  letter-spacing: 0.04rem;
  font-size: 1.125rem;
}

.linkPanet1:hover, .linkPanet2:hover, .linkPanet3:hover, .linkPanet4:hover, .linkPanet5:hover {
  padding-bottom: 12px;
  border-bottom: 1px solid white; 
  color: white;
}

.dataTravel {
  border-top: 2px solid #383B4B;
  margin-top: 2rem;
}

.buttonSelec {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.17;
}

/*  destination  */ 

.buttonSelec::selection {
  opacity: 100%;
}
.buttonSelec:hover {
  opacity: 50%;
}
.buttonSpace {
  height: 5rem;
  width: 5rem;
  color: white;  
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .25);  
}

.buttonSpace:hover {
  color: #0B0D17;
  background-color: white;
}

.nameCrew, .nameTech {
  width: 45vw;
}

.imageCrew {
  max-width: 68%;
}

.imgTech {
  transform: scale(0.8, 0.8);
}

@media (max-width: 400px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 913px) {
  #imagePlanet {
    
  }
}

@media (max-width: 1300px) {
  .aboutPlanet {
    flex-direction: column;
    
  }
  body {
    
  }
}